Test-Command: /usr/share/cargo/bin/cargo-auto-test bankstown-lv2 1.0.0 --all-targets --all-features
Features: test-name=rust-bankstown-lv2:@
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test bankstown-lv2 1.0.0 --all-targets
Features: test-name=librust-bankstown-lv2-dev:default
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable

Test-Command: /usr/share/cargo/bin/cargo-auto-test bankstown-lv2 1.0.0 --all-targets --no-default-features
Features: test-name=librust-bankstown-lv2-dev:
Depends: dh-cargo (>= 18), @
Restrictions: allow-stderr, skip-not-installable
